{% extends 'navbar.html' %}

{% block title %}Lista Ofert{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>Wiadomość</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for conversation, sender in conversations %}
                <tr>
                    <td><p><a href="{% url 'user' sender.username %}">{{ sender.username }}</a></p></td>
                    <td><p><a href="{% url 'conversation' sender.username %}">{{ conversation.last_message_short }}</a></p></td>
                    <td><p>{{ conversation.last_message_date }}</p></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}