{% extends 'navbar.html' %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
    {% if box %}
    <div class="alert alert-info" role="alert">
        <strong>Wylogowano!</strong>
    </div>
    {% endif %}
    <div class="jumbotron">
        <h1>Lorem ipsum</h1>
        <p>dolor sit amet, consectetur adipiscing elit. Nullam consectetur diam eget ipsum molestie, a gravida velit ultrices. Fusce a vestibulum ligula. Nunc nec lacus ut turpis bibendum accumsan bibendum vel felis. Integer rhoncus erat non vulputate interdum. Pellentesque nulla tortor, ullamcorper ac tellus vitae, gravida commodo mauris. Suspendisse potenti. Nam sed orci pharetra, cursus ipsum quis, eleifend ante. Mauris pretium, orci nec viverra rutrum, ligula mi tempus risus, nec scelerisque erat nulla sed nisi. Proin pellentesque est turpis, ac laoreet purus ultricies non.
        </p><p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at convallis dui. Morbi vulputate sollicitudin leo nec pharetra. Nullam vestibulum nisi vitae consectetur dictum. Nulla laoreet euismod arcu ac hendrerit. Fusce id ipsum quam. Vestibulum ut scelerisque tortor, vitae lobortis est. Aliquam porta neque rutrum tempor rhoncus. Phasellus fringilla hendrerit mi et eleifend. Nam gravida, ipsum ut iaculis volutpat, tellus leo ultrices elit.</p>
      </div>
{% endblock content %}