{% extends 'navbar.html' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;"
                 src="https://ak1.ostkcdn.com/images/products/8818677/Samsung-Galaxy-S4-I337-16GB-AT-T-Unlocked-GSM-Android-Cell-Phone-85e3430e-6981-4252-a984-245862302c78_600.jpg"/>
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <h3>{{ offer.title }}</h3>
            <h5>dodano {{ offer.creation_date.date }}</h5>
            <h5>prez <a href="{% url 'user' offer.author %}">{{ offer.author }}</a> · <a href="{% url 'conversation' offer.author %}" class="glyphicon glyphicon-envelope"></a> ·
                <small>(20 opinii)</small>
            </h5>

            <h6 class="title-price">
                <small>Płatność do</small>
            </h6>
            <h3 style="margin-top:0px;">{{ offer.price_cap }} PLN</h3>

            <div class="section" style="padding-bottom:20px;">
                <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-euro"
                                                      aria-hidden="true"></span>złóż ofertę
                </button>
            </div>
        </div>

        <div class="col-xs-9">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Wymiary: </strong> {{ offer.width }} x {{ offer.length }} x {{ offer.height }} cm
                    </div>
                    <div class="col-md-6">
                        <strong>Waga: </strong> {{ offer.weight }} kg
                    </div>
                    <div class="col-md-3">
                        <strong>Odbiór od: </strong> {{ offer.earliest_pickup.date }}
                    </div>
                    <div class="col-md-3">
                        <strong>do: </strong> {{ offer.latest_pickup.date }}
                    </div>
                    <div class="col-md-3">
                        <strong>Dostawa od: </strong> {{ offer.earliest_delivery.date }}
                    </div>
                    <div class="col-md-3">
                        <strong>do: </strong> {{ offer.latest_delivery.date }}
                    </div>
                </div>
                <br>
                <small>
                    {{ offer.description }}
                </small>
                </p>
                <small>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}