{% extends 'navbar.html' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-5" style="border:0px solid gray">
            <h3>{{ offer.title }}</h3>
            <h5>dodano {{ offer.creation_date.date }}</h5>
            <h5>Kategoria: {{ offer.category.name }}</h5>
            <h5>Wymagany typ pojazdu: {{ offer.cargo_type.name }}</h5>
            <h5>przez <a href="{% url 'user' offer.author %}">{{ offer.author }}</a>
                {% if user.username != offer.author.username %} ·
                    <a href="{% url 'conversation' offer.author %}" class="glyphicon glyphicon-envelope"></a>
                {% endif %}·
                <small>({{ offer.author.siteuser.received_ratings|length }} opinii)</small>
            </h5>

            <h6 class="title-price">
                <small>Płatność do</small>
            </h6>
            <h3 style="margin-top:0px;">{{ offer.price_cap }} PLN</h3>

            <div class="section" style="padding-bottom:20px;">
                {% if not offer.has_ended %}
                <form action="" class="col-md-4" method="post">
                    {% csrf_token %}
                    <input id="price" name="price" type="number" placeholder="Twoja oferta"
                                   class="form-control input-md">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-euro"
                                                          aria-hidden="true" name="bid"></span>złóż ofertę
                    </button>
                </form>
                {% else %}
                    Oferta została zakończona.
                {% endif %}
            </div>
        </div>

        <div class="col-xs-9">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Z: </strong> {{ offer.start_location.name }}, {{ offer.formatted_start_postcode }}
                    </div>
                    <div class="col-md-4">
                        <strong>Do </strong> {{ offer.end_location.name }}, {{ offer.formatted_end_postcode }}
                    </div>
                    <div class="col-md-4">
                        <strong>Odległość: </strong> {{ offer.get_distance }} km
                    </div>
                </div>
                <div class="row">
                    {% if offer.width or offer.length or offer.height %}
                        <div class="col-md-6">
                            <strong>Wymiary: </strong> {{ offer.width }} x {{ offer.length }} x {{ offer.height }} cm
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        <strong>Waga: </strong> {{ offer.weight }} kg
                    </div>
                    <div class="col-md-3">
                        <strong>Odbiór od: </strong> {{ offer.earliest_pickup.date }}
                    </div>
                    <div class="col-md-3">
                        <strong>do: </strong> {{ offer.latest_pickup.date }}
                    </div>
                    <div class="col-md-3">
                        <strong>Dostawa od: </strong> {{ offer.earliest_delivery.date }}
                    </div>
                    <div class="col-md-3">
                        <strong>do: </strong> {{ offer.latest_delivery.date }}
                    </div>
                </div>
                <br>
                <small>
                    {{ offer.description }}
                </small>
                </p>
                <small>
                </small>
            </div>
            <div id="map"></div>
            <script>
                function initMap() {
                    var directionsDisplay;
                    var directionsService = new google.maps.DirectionsService();
                    directionsDisplay = new google.maps.DirectionsRenderer();
                    var start = {lat: {{ offer.start_location.latitude }}, lng: {{ offer.start_location.longitude }}};
                    var end = {lat: {{ offer.end_location.latitude }}, lng: {{ offer.end_location.longitude }}};
                    var middle = {lat: (start.lat + end.lat) / 2, lng: (start.lng + end.lng) / 2}
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 8,
                        center: middle
                    });
                    var start_marker = new google.maps.Marker({
                        position: start,
                        map: map
                    });
                    var end_marker = new google.maps.Marker({
                        position: end,
                        map: map
                    });
                    var request = {
                        origin: start,
                        destination: end,
                        travelMode: google.maps.TravelMode.DRIVING
                    };
                    directionsService.route(request, function (response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setDirections(response);
                            directionsDisplay.setMap(map);
                        } else {
                            alert("Directions Request from " + start.toUrlValue(6) + " to " + end.toUrlValue(6) + " failed: " + status);
                        }
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX4fUgd4DX_udsjYDskTEaylSw3UWodQk&callback=initMap">
            </script>

        </div>
    </div>
{% endblock content %}